access_key: IifwRv0R0j7P25X0tXZzSUPaElintL2doDcZRVo2nd2DiFP5GRj7d4
listen_address: 127.0.0.1
listen_port: 5555
log_settings:
    level: DEBUG
    format: '[%(asctime)s] %(name)s %(funcName)-18s %(levelname)-7s => %(message)s'
    datefmt: '%Y-%m-%d %H:%M:%S'
